:root{
    --primary-color : #6834a6;
    --dark-color: #000000;
    --white-color: #FFF;
    --main-font: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: var(--main-font);
    font-size: 1.6rem;
    line-height: 1.8;/*Interlineado*/
}

h1,h2,h3{
    font-weight: 900;
    margin:2rem 0;
}

h1{
    font-weight: 900;
    margin: 2rem 0;
}
h2{

}
h3{

}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* HEADER */
.header{
    background-image: url(../assets/img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 7rem;
}

.header__container{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.navegation{
    list-style: none;
}

.option__navegation{
    color: var(--dark-color);
}

.logo__header{
    width: 15rem;
    margin: 0 auto 3rem auto;
}

@media screen and (min-width: 768px) {
    .header{
        background-size: 53rem;
        position: relative;
    }

    .logo__header{
        margin: 0;
    }
    .navigation__bar{
        display: flex;
        justify-content: space-between;
    }

    .navegation{
        display: flex;
        position: absolute;
        right: 0;
    }

    .option__navegation{
        color: var(--white-color);
        padding: 0 1.4rem;
    }

}

@media screen and (min-width: 1280px){
    .header{
        background-size: 70rem;
    }
    .option__navegation{
        color: var(--white-color);
        padding: 0 2.5rem;
    }
}